<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <!--
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
     -->

    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <ini name="xdebug.mode" value="coverage" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true" pathCoverage="false" ignoreDeprecatedCodeUnits="true" disableCodeCoverageIgnore="true">


        <report>
            <!-- HTML-отчет -->
            <html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="90" />

            <!-- XML-отчет -->
            <xml outputDirectory="build/coverage/xml" />

            <!-- Текстовый отчет -->
            <text outputFile="build/coverage/coverage.txt" showUncoveredFiles="true" showOnlySummary="false" />

            <!-- Clover-формат отчета -->
            <clover outputFile="build/coverage/clover.xml" />

            <!-- Cobertura-формат отчета -->
            <cobertura outputFile="build/coverage/cobertura.xml" />
        </report>
    </coverage>
</phpunit>